.btn {
  @apply px-3 py-2 rounded;

  /* @media (--sm) {
    @apply px-3 py-2;
  } */

  &--accent {
    background-color: $primary-color;
    color: white;
    transition: text-shadow 200ms ease, box-shadow 200ms ease;

    &:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.57);
    }
  }

  &--inverse {
    background-color: white;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: background-color 200ms ease, color 200ms ease;

    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }

  &--neutral {
    @apply w-24 bg-gray-500 text-white;
  }

  &--danger {
    @apply w-24 bg-red-600 text-white;
  }

  &--window {
    @apply w-24 bg-gray-300 text-black;
  }
}
